*{
	font-family: sans-serif;
}

body{
	background-color: #324f88;
	padding: 0px;
		}

#bgSvg{
	position: absolute;
	left: 0px;
	top:0px;
	z-index: -1;
}

h3{
	color: white;
	font-size: 50px;
	position: relative;
}	

article{
	position: relative;
	top: 50px;
	padding-bottom: 200px;
}

article p{
	color: #f8ed8d;
	width: 80%;
	margin: 0 auto;
	
}

article svg{
	margin-top: -50px;}
	
#bc00{
	margin: 0 auto;
	text-align: center;
	width: 80%;
	margin-top: 10px;
	z-index: 55;
}

#bc00 .bt00{
	
	
	padding: 25px 60px;
	color: white;
	text-decoration: none;
	font-family: sans-serif;
	border: 1px white solid;
	transition: all .2s linear;
	
}

#bc00 .bt00:hover{
	transition: border .5s ;
	border: 1px #f8ed8d solid;
}

#bc00 .bt00:hover{
	animation: x 1s 1;
	animation-fill-mode: forwards;
	
}

@keyframes x
{
	from {color:white}
	to {color:#f8ed8d}
}
